.widget-weather-station .widget-body {
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: center; */
  /* align-items: center; */
}

.widget-weather-station .weather-station-temperature {
  font-size: 6em;
  text-align: center;
}

.widget-weather-station .weather-station-detail-value {
  text-align: right;
}

.widget-weather-station .weather-station-wind::before {
  content: '';
  position: relative;
  /* font-size: 1.5em; */
  margin-right: 0.25em;
}

.widget-weather-station .weather-station-wind-n::before {
  content: '↓';
}

.widget-weather-station .weather-station-wind-ne::before {
  content: '↙';
}

.widget-weather-station .weather-station-wind-e::before {
  content: '←';
}

.widget-weather-station .weather-station-wind-se::before {
  content: '↖';
}

.widget-weather-station .weather-station-wind-s::before {
  content: '↑';
}

.widget-weather-station .weather-station-wind-sw::before {
  content: '↗';
}

.widget-weather-station .weather-station-wind-w::before {
  content: '→';
}

.widget-weather-station .weather-station-wind-nw::before {
  content: '↘';
}
