@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Poppins:wght@300;400;500&display=swap');

:root {
  --color-black-0: #000000;
  --color-black-1: #0A0A0A;
  --color-black-2: #101010;
  --color-black-3: #202020;
  --color-white: #E6E6EB;
  --color-green: #0C7C59;
  --color-blue: #3E78B2;
  --color-red: #C05746;
  --color-yellow: #FEE440;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background-color: var(--color-black-0);
  color: var(--color-white);
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: repeat(6, minmax(0, 1fr));
  grid-gap: 10px;
  position: fixed;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
}

.widget {
  /* border: solid #ccc 1px; */
  /* border-radius: 5px; */
  background: var(--color-black-1);
  padding: 0.5em 0.75em 0.75em 0.75em;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.widget-title {
  margin: 0 0 0.5em 0;
  font-size: 0.75em;
  font-weight: lighter;
  text-transform: uppercase;
}

.widget .widget-body {
  flex-grow: 1;
}

.widget .widget-body {
  flex-grow: 1;
}

.widget-calendar {
  grid-column-start: 8;
  grid-column-end: 13;
  grid-row-start: 3;
  grid-row-end: 7;
}

.widget-radar {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 6;
}

.widget-forecast {
  grid-column-start: 4;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 3;
}

.widget-traffic {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 5;
}

.widget-trello {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 5;
  grid-row-end: 7;
}

.widget-weather-station {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.widget-clock {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 8;
}

.widget table {
  width: 100%;
}

.widget table th {
  text-transform: uppercase;
  font-weight: normal;
}

.widget table tr:nth-child(even) td {
  background-color: var(--color-black-2);
}

.widget table tr:nth-child(odd) td {
  background-color: var(--color-black-3);
}

.widget table td {
  font-size: 0.9em;
  padding: 0.5em;
  margin: 0;
  border: none;
}
